/* Fuente global */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
}

/* ---------- Auth (login, register, reset) ---------- */
.auth-card {
  width: 400px;
  padding: 2rem;
  border-radius: 12px;
  background: #fff;
}

.auth-title {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.auth-btn {
  font-weight: bold;
}

.auth-links {
  margin-top: 1rem;
  text-align: center;
}

/* ---------- Pages ---------- */
.login-page,
.register-page,
.reset-page {
  min-height: 70vh;
}

.catalog-page h2,
.product-detail-page h3,
.cart-page h2 {
  font-weight: 600;
}

.card-title {
  font-weight: 600;
}

.btn {
  border-radius: 30px;
  font-weight: 500;
}

/* ---------- Navbar ---------- */
.navbar-brand {
  font-size: 1.3rem;
}

.navbar-text {
  font-weight: 500;
}

/* Enlaces en productos */
.product-link {
  text-decoration: none;
  color: #212529;
  font-weight: 600;
}

.product-link:hover {
  color: #89328b; /* azul bootstrap */
}



/* REVISAR ESTE LINNK PARA GUIA: https://udiscovermusic.co/?srsltid=AfmBOooUbV57_0O0iNeMoTDJexn7WJkhKglMd6l3NKv3huKL7h5QQMpe*/