{% extends "base.html" %}
{% block content %}
<div class="register-page d-flex justify-content-center align-items-center">
  <div class="auth-card shadow-lg">
    <h4 class="auth-title">Registro</h4>

    <form method="POST" class="auth-form">
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" name="correo" required>
      </div>
      <div class="mb-3">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" name="contraseña" required>
      </div>
      <button class="btn btn-success w-100 auth-btn" type="submit">Registrarse</button>
    </form>

    <div class="auth-links">
      <small>¿Ya tienes cuenta? <a href="{{ url_for('login') }}">Inicia sesión</a></small>
    </div>
  </div>
</div>
{% endblock %}
